html {
  background: #e6e9e9;
  background-image: linear-gradient(
    270deg,
    rgb(230, 233, 233) 0%,
    rgb(216, 221, 221) 100%
  );
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
  color: #545454;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #2196f3;
  padding-left: 0;
}

li {
  float: left;
}

li button {
  cursor: pointer;
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
}

li button:hover:not(.active) {
  background-color: #ddd;
}

li button.active {
  color: white;
  background-color: #1e88e5;
}

.l-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  margin: 12px auto 0;
}

@media (min-width: 768px) {
  .l-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .l-wrap {
    display: grid;
    grid-template-columns: repeat(5, 225px);
    grid-gap: 48px;
    margin: 12px auto 0;
    padding: 0 62px;
  }

  ul {
    padding-left: 62px;
  }
}
